@model Identity_1.Models.Identity_Users_roles

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Identity_Users_roles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userRed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userRed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.role_identity_nv.descript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role_identity_nv.descript)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
